<!doctype html>
<html class="no-js h-100" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>articles</title>
	</head>
	<body>
	  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
	   
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="">About us</a>
			  
			  
			</li>
			<a class="nav-link text-white "  href="/signup">Signup</a>
			</li>
			
			</ul>
			
					

				
			<ul class="ml-auto ">
			<li class="nav-item list-unstyled">
				
			  <a class="nav-link text-white "  href="/logout">Logout</a>
			</li>
		  </ul>
		 
		</div> 
	  </nav>
	
  </body>