
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up</title> 
    <link rel="stylesheet" href="signup.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
	<form action="/login" method="post" id="form2">
		<h6 style="color: red;"><%= message %></h6>
      
      <div class="input-box">
        <input type="text"name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password"name="password" placeholder="Create password" required>
      </div>
    
      
      <div class="input-box button">
		
		<input type="Submit" value="Login">
      </div>
      <div class="text">
        <h3>Create an account <a href="/signup">signup</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
