<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>articles</title>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="">About us</a>
      
      
    </li>
    <a class="nav-link text-white "  href="/signup">Signup</a>
    </li>
    <a class="nav-link text-white " href="/blog-posts">
      <i class="material-icons"></i>
      <span>my Posts</span>
    </a>
    </ul>
    
        

      
    <ul class="ml-auto ">
    <li class="nav-item list-unstyled">
     
      <a class="nav-link text-white "  href="/logout"><%= user.name %> <br>  Logout</a>
    </li>
    </ul>
   
  </div> 
  </nav>

</body>

  
          <div class="nav-wrapper">
            <ul class="nav flex-column">
             
              <li class="nav-item">
                <a class="nav-link " href="/blog-posts">
                 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <i class="material-icons"></i>
                 
                </a>
              </li>
             
              
            </ul>
          </div>
        </aside>
                  </a>
                 
                   
                   
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          
            <div class="center">

                <h3 style="text-align: center;" class="col-xs-1 center-block"><u> Add New Post</u></h3>
              </div>
              </div>
            </div>
          <div style="margin:40px;">
					<% if (message === 'success') { %>
						<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						  <i class="fa fa-check mx-2"></i>
						  <strong>Success!</strong> Your post is pending for aprovel!
						</div>
					  <% } %>
					  
					  <div class="">
						<form class="add-new-post" action="/blog-post" method="post">
						  <div class="form-group">
							<input class="form-control form-control-lg mb-3" type="text" name="title" placeholder="Your Post Title">
						  </div>
						  <div class="form-group">
							<textarea name="content" class="form-control mb-3" rows="5" placeholder="Post Content"></textarea>
						  </div>
						  <div class="form-group">
							<select id="category" class="form-control mb-3" name="category">
							  <option value="">Please choose the category</option>
							  <% categories.forEach((category) => { %>
							  <option value="<%= category.id %>"><%= category.name %></option>
							  <% }); %>
							</select>
						  </div>
						  
							<button class="btn btn-sm btn-accent ml-auto" type="submit">
							  <i class="btn btn-primary">submit</i> 
							</button>
						  </li>
						</form>
          </div>
					  </div>
					  
                </div>
                <!-- / Add New Post Form -->
              </div>
            
    <%- include('../components/footer') -%>
  </body>
 

<script>
	$(document).ready(function() {
	  $('.alert .close').click(function() {
		$(this).parent('.alert').alert('close');
	  });
	});
  </script>
</html>