<%- include('../components/header') -%>

  <body class="h-100">

    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <!-- <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="images/shards-dashboards-logo.svg" alt="Shards Dashboard"> -->
                  <span class="d-none d-md-inline ml-1"> </span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
             
              <li class="nav-item">
                <a class="nav-link " href="/blog-posts">
                 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <i class="material-icons"></i>
                 
                </a>
              </li>
             
              
            </ul>
          </div>
        </aside>
                    <span class="d-none d-md-inline-block"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="user-profile-lite.html">
                      <i class="material-icons">&#xE7FD;</i> Profile</a>
                    <a class="dropdown-item" href="components-blog-posts.html">
                   
                    <a class="dropdown-item" href="/dashboard">
                      <i class="material-icons">note_add</i> Add New Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle"></span>
                <h3 class="page-title">Add New Post</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <div class="row">
              <div class="col-lg-9 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
					<% if (message === 'success') { %>
						<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						  <i class="fa fa-check mx-2"></i>
						  <strong>Success!</strong> Your post has been added!
						</div>
					  <% } %>
					  
					  <div class="card-body">
						<form class="add-new-post" action="/blog-post" method="post">
						  <div class="form-group">
							<input class="form-control form-control-lg mb-3" type="text" name="title" placeholder="Your Post Title">
						  </div>
						  <div class="form-group">
							<textarea name="content" class="form-control mb-3" rows="5" placeholder="Post Content"></textarea>
						  </div>
						  <div class="form-group">
							<select id="category" class="form-control mb-3" name="category">
							  <option value="">Please choose the category</option>
							  <% categories.forEach((category) => { %>
							  <option value="<%= category.id %>"><%= category.name %></option>
							  <% }); %>
							</select>
						  </div>
						  
							<button class="btn btn-sm btn-accent ml-auto" type="submit">
							  <i class="btn btn-primary">submit</i> 
							</button>
						  </li>
						</form>
            
					  </div>
					  
                </div>
                <!-- / Add New Post Form -->
              </div>
            
    <%- include('../components/footer') -%>
  </body>
 

<script>
	$(document).ready(function() {
	  $('.alert .close').click(function() {
		$(this).parent('.alert').alert('close');
	  });
	});
  </script>
</html>